.main-container-livestream-online-game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

.stars-icon {
  font-size: 80px;
}

.title-container-game {
  margin-top: 25px;
  background-color: dodgerblue;
  width: 30%;
  align-self: center;
  display: inline-flex;
  justify-content: space-between;
  border-radius: 40px;
}

h1 {
  padding-top: 15px;
  font-weight: bold;
  color: white;
}

h2 {
  font-weight: bold;
  color: dodgerblue;
}

.video-preview {
  background-image: url('../../../../../resources/img/livestream-page/podium.jpg');
  background-size: 100% 700px;
  margin-top: 50px;
  margin-right: 10%;
  align-self: center;
  float: right;
  width: 80%;
  height: 700px;
  border-radius: 20px;
}

.play-button {
  font-size: 100px;
  color: white;
  cursor: pointer !important;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle; /* vertical alignment of the inline element */
  height: 100%;
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: auto;
}

.vertical-center:focus, .vertical-center:active {
  outline: none !important;
  box-shadow: none;
}

.custom-button {
  border-radius: 25px;
  width: 200px;
  height: 60px;
  align-self: center;
}


.resource-container {
  display: inline-flex;
}


.resource-date {
  text-align: center;
  padding: 5px 10px 0 30px;
  font-size: x-large;
}


.resource-list {
  margin: 30px 0 2px 0;
  list-style-type: none;
  padding: 3px 0 0 0;
  width: 90%;
}

.participants-list-header {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #5133A5;
  padding: 10px 0;
  border-radius: 20px;
}

.participants-list-content {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  padding: 10px 0;
  height: 130px;
  border-radius: 20px;
  border-top: 3px solid #5133A5;
}

.resource-list .badge {
  display: inline-block;
  font-size: medium;
  color: white;
  text-align: center;
  padding: 18px 7px 0 7px;
  background-color: #405061;
  line-height: 10px;
  position: relative;
  left: 7px;
  min-height: 50px;
  width: 175px;
  margin-right: 8px;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.main-container-game {
  padding: 10px;
  display: inline-flex;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
}

.left-container {
  width: 70%;
  height: auto;
  align-self: flex-start;
}

.right-container {
  width: 30%;
  height: auto;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

.participants-list-header-container {
  color: white;
  display: inline-flex;
  justify-content: space-between !important;
  width: 100%;
}

.participants-list-body-container {
  color: black;
  display: inline-flex;
  justify-content: space-between !important;
  width: 100%;
}

.list-header-title {
  font-size: 24px;
}

.list-spacing {
  margin-top: 20px;
  height: 75px;
}

.badge-button {
  width: 50px !important;
  background: transparent;
  cursor: auto;
  border-radius: 30px;
  min-width: 30px !important;
}

.badge-button:focus, .badge-button:active {
  outline: none !important;
  box-shadow: none;
}

mat-icon {
  width: 30px;
  height: 30px;
  transform: scale(2.3)
}

.icon-size{
  transform: scale(1) !important;
}

::ng-deep .mat-button-wrapper {
  line-height: 80px!important;
}

.custom-button {
  border-radius: 25px;
  width: 200px;
  height: 60px;
  align-self: center;
}
