<app-edit-room-reservation
  [venue]="venue"
  [eventToBeEdited]="eventToBeEdited"
  [eventType]="eventType"
  [resources]="resources"
  [firstFormGroup]="firstFormGroup"
  [secondFormGroup]="secondFormGroup"
  [thirdFormGroup]="thirdFormGroup"
  [todayDate]="todayDate"
  [startTime]="startTime"
  [eventTypes]="eventTypes"
  [venues]="venues"
  [availableResources]="availableResources"
  [selectedResources]="selectedResources"
  [recurrent]="recurrent"
  (changeRecurrence)="changeRecurrence()"
  (editReservation)="editReservation()"
>
</app-edit-room-reservation>
