.form-validation-container {
  text-align: center;
}

::ng-deep div.ngb-tp {
  justify-content: center;
}


.contact100-form-btn {
  justify-content: center;
  padding: 0 20px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.custom-button{
  margin-top: 30px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  border-radius: 20px;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  color: floralwhite !important;
  font-weight: 100;
  transition: all 0.3s ease 0s;
}

.custom-button:hover{
  cursor: pointer;
  color: floralwhite !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: dodgerblue;
  box-shadow: 0 5px 5px 5px rgba(30,144,255,0.50);
  transition: all 0.3s ease 0s;
}
.recurrent-button {
  background: transparent;
  border: none !important;
  font-size: 0;
  cursor: auto;
}

.recurrent-button:focus,.recurrent-button:active {
  outline: none !important;
  box-shadow: none;
}

.buttons-align{
  display: inline-flex;
}

.align-fields {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.recurrent-label {
  margin: 15px 0;
  font-size: 20px;
}

.recurrent-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.custom-icon {
  font-size: 40px;
  cursor: pointer!important;
  margin-bottom: 10px;
}

.button-space{
  margin-right: 20px;
}

.field-space{
  padding: 15px 0;
}
