<div class="col" >

  <div class="courses_view col-lg-8 ">
    <div *ngFor="let course of courses">
      <mdb-card >

        <mdb-card-img [src]="course.cover" alt="Card image cap" style="height: 200px"></mdb-card-img>

        <mdb-card-img class="isLocked" [src]="course.isLocked ? 'assets/img/enroll/locked.png'
        : !course.isCompleted ? 'assets/img/enroll/unlocked.png'
        : 'assets/img/enroll/completed.png' "></mdb-card-img>

        <mdb-card-body>

          <mdb-card-title>
            <h4>{{course.name}}</h4>
          </mdb-card-title>

          <mdb-card-text>
            <b>{{course.mainTeacher}}</b>
            <p>{{course.secondTeacher}}  -  {{course.thirdTeacher}}</p>
          </mdb-card-text>

          <div class="progress" style="height:10px">
            <div class="progress-bar" style="width:20%"></div>
          </div>

          <div class="go_to_course_page_button">
            <button mdbBtn color="blue" mdbWavesEffect (click)="sendCourse(course)">Go to course page</button>
          </div>

        </mdb-card-body>

      </mdb-card>

    </div>

  </div>

</div>
