.courses_view {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}

.card {
  margin: 0 10px;
  width: 350px;
  height: 450px;
}

#a {
  display: block;
  margin: auto;
}

.go_to_course_page_button {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.initClass {
  display: flex;
  justify-content: center;
  align-content: center;

}

.initButton {
  position : relative;
  top:25%;
  margin-top : 20px;
}


.isLocked{
  position:absolute;
  margin-top: 50%;
  padding-right: 10%;
  z-index: 2;
  width: 80px;
  height: 80px;
}
