<div class="main-container-livestream">
  <h1>Start a livestream!</h1>

  <div class="icon-container">
    <i class="material-icons custom-icon icon-rotated1">near_me</i>
    <div class="custom-divider"></div>
    <i class="material-icons custom-icon icon-rotated2">near_me</i>
  </div>
  <button class="btn btn-primary custom-button" (click)="createNewSession.emit()">New Session</button>

  <div class="video-preview">
    <button class="vertical-center">
      <i class="material-icons play-button">play_circle_outline</i>
    </button>
  </div>
</div>
