
.container {
  alignment: center;
  margin-left: 30%;
}

.container > div > button {
  width: 90px;
  height: 90px;
}

section {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-left: 46.5%;
  margin-top: 10px;
}

#time-div {
  margin-left: 30px;
}

#question-div {
  margin-right: 30px;
}
